.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-center {
    justify-content: center;
    align-items: center;
    &-height {
      align-items: center;
    }
    &-width {
      justify-content: center;
    }
  }
}

